
.card {
    width: 220px;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
    background-color: orange;

    &__image { /* .card__imagen */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__image-container {
        height: 200px;
        overflow: hidden;
    }

    &__content {
        padding-top: 10px;
        padding-inline: 20px; /* left / right  */
        padding-bottom: 5px;
    }

    &:nth-child(3n + 1) { // .card:nth-child()
        background: linear-gradient(to top, #aaafad 0%, #60efff 100%);
    }

    &:nth-child(3n + 2) { // .card:nth-child()
        background: linear-gradient(to top, #ff1b6b 0%, #34caff 100%);
    }

    &:nth-child(3n + 3) { // .card:nth-child()
        background: linear-gradient(to top, #ff930f 0%, #fff95b 100%);
    }

    /* ---------------------------------- */
    
    /* desktop-first */
    @media screen and ( max-width: 768px ) {
       & { // .card
        min-width: 400px;
        max-width: 500px;
        height: 200px;
       }

       &__article { // .card__article
        display: flex;
       }

       &__content {
        padding-top: 40px;
       }

       & &__image-container { // .card .card__image-container
        width: 40%;
       }
    }

}